body{
    background-color:#22262a;
    color:  rgb(171, 179, 186);
}
div.container{
    width: 50%;
    height: 90%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}
form{
    background-color:#343a40;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
}
h2{
    background-color:#2e3338;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    padding-top: 2rem;
    padding-bottom: 2rem;

}
div.form-group{
    justify-content: center;
    margin-bottom: 3rem;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}
/* .svg-inline--fa {
    height: auto;
} */
input{
    line-height: 3;
    width: 20rem;
    background-color:#343a40;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid rgb(171, 179, 186);
}
input:focus{
    outline: none;
    outline-offset: none;
    color:  rgb(171, 179, 186);
}

.btn-danger {
    color: rgb(171, 179, 186);
    background-color: rgb(234, 49, 46);
    border-color: rgb(234, 49, 46);
    width: 70%;
}
.btn-danger:hover{
    background-color: #e41b17;
    border-color: #e41b17;
}

/***************************** MEDIA QUERY ***************************/
@media only screen and (max-width: 992px){
    input{
        width: 15rem;
    }
}
@media only screen and (max-width: 768px){
    div.container{
        width: 60%;
        height: 90%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    input{
        width: 10rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .svg-inline--fa.fa-w-20 {
        width: 1em;
    }
    .btn-lg, .btn-group-lg > .btn {
        line-height: 1.25;
    }
}
@media only screen and (max-width: 576px){
    .svg-inline--fa {
        width: .5em;
    }
    input, button, select, optgroup, textarea {
      font-size: .7rem;
    }
    .btn-lg, .btn-group-lg > .btn {
        font-size: 1rem;
        line-height: 1;
    }
    div.container{
        width: 95vw;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        margin-top: 15vh;
        margin-bottom: 15vh;
    }
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/